<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stats.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Stats</title>
</head>
<body>
    <!--Navigation-->
    <nav class="nav">
        <a href="/"><button class="nav-items">HOME</button></a>
        <form action="/analyse" method="POST">
            <button type="submit" class="nav-items">STATS</button>
        </form>

        <!--Search-->
        <form action="/" method="POST" class="search-form">
            <label for="search"></label>
            <input type="text" id="search" name="product_name">
            <button type="submit" class="search-button">Search</button>
        </form>
        <a href="/download" title="download"><button class="nav-items download">DOWNLOAD</button></a>
    </nav>    
    
    <div class="image-container">
        <h1>Stats for the searched products</h1>
        <img src="/static/Page/Plot.png">
        <img src="/static/Page/Rate.png">
    </div>
</body>
</html>